*{
    margin: 0px;
    font-family: 'Helvetica Neue', sans-serif;
  }
  body{
  background: url(https://images.unsplash.com/photo-1432671431739-d0ba1dd6e3c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwzMzkxODk0fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
  a{
    text-decoration: none;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(0,0,0);
    position: fixed;
    height: 100%;
    overflow: auto;
    color: #d64161;
  }
  
  #head{
    width: 200px;
    text-align: center;
    padding: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid wheat;
  }
  #head img{
    width: 50px;
    height: 50px;
    border: 2px solid  #d64161;;
    border-radius: 50%;
  }
  .navbtn{
    margin: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    color: #d64161;
    transition: all 0.5s;
  }
  .navbtn:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  section{
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
    padding: 20px;
    border: 2px solid #d64161;
    color: #d64161;
    transition: all 0.5s;
  }
  section:hover{
    border-color: #f1ff5c;
    color: wheat;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
  }