*{
    margin: 0px;
    font-family: 'Helvetica Neue', sans-serif;
  }
 body{
  background: url(https://www.digitalartsonline.co.uk/cmsdata/features/3641812/wix_code_image_creation_without_limits_and_coding_panel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
  a{
    text-decoration: none;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(0,0,0);
    position: fixed;
    height: 100%;
    overflow: auto;
    color: #86af49;
  }
  
  #head{
    width: 200px;
    text-align: center;
    padding: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid wheat;
  }
  #head img{
    width: 50px;
    height: 50px;
    border: 2px solid  #86af49;;
    border-radius: 50%;
  }
  .navbtn{
    margin: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    color: #86af49;
    transition: all 0.5s;
  }
  .navbtn:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
h1{
    text-align: center;
    color: #ffa260;
    text-shadow: 4px 15px 10px rgba(0,0,0,0.5),
    2px 5px 5px rgba(0,0,0,0.5),
    3px 5px 5px rgba(0,0,0,0.5);
}
.cardx{
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 20px;
    border: 2px solid #ffa260;
    color: #86af49;
    transition: all 0.5s;
}
.cardx:nth-of-type(2n){
    margin-left: 500px;
}
.cardx:hover{
    border-color: #f1ff5c;
    color: wheat;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
  }